/* font principal du site */
@font-face { font-family: Designer; src: url('../font/DESIGNER.otf'); } 

/* couleurs principaux du site */
:root{
  --colorOrange: #E18517;
  --colorBlanc: #e5e5e7;
  --colorNoir: #090d12;
  --colorGris: #3f4562;
  --colorBleu: #1d2530;
  --colorOrangeFonce: #af5f00
}

/* styles pour le html */
html{
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  scroll-behavior: smooth;
}

/* styles pour le body */
body{
  background-color: var(--colorNoir);
  max-width: 100%;
  min-height: 100%;
  color: var(--colorBlanc);
  font-family: Designer;
  overflow-x: hidden;
}

/* On enleve le style bold des toutes les titres */
h1, h2, h3, h4, h5, h6{
  font-weight: normal;
}

/* styles pour le main */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styles pour l'image du CS2 */
.imageTitre{
    width: 75%;
    height: auto;
    margin: 15% 0 5% 0;
}

/* Styles pour le tableau de TOUS les joueurs */
.tableJoueurs{
    display: flex;
    justify-content: center;
    overflow-x: auto;
}

/* Styles pour le tableau et les division du tableau */
table {
    border-collapse: collapse;
    width: 90%;
    font-size: 0.7rem;
}

th, td {
    text-align: center;
    padding: 2px;
}

td{
    background-color: var(--colorBleu);
    border-bottom: 0.5rem solid var(--colorOrange);
}

th {
    background-color: var(--colorOrange);
}

/* Styles pour les joueurs comme son image et un partie du texte*/
.joueurInfo > img{
    width: 6rem;
}

.joueurInfo > h4{
    margin: 7% 0;
}

.joueurInfo > h4:last-of-type{
    color: var(--colorOrange);
}

.equipeInfo > img{
    vertical-align: middle;
    width: 2rem;
    margin: 2%;
}

/* STYLE POUR LA PAGE DANS PC */
/*Je sait que tu lis tout les commentaires David, je n'aime pas faire des jokes dans un travaux mais vraiment,
pour expliquer tout les styles ici c'est trop long juste pour dire que j'ai change le width et modifier le padding,
flex, etc. 

Sorry, :c

-- Julian
*/
@media screen and (min-width: 1024px){

    main{
        margin-left: 17vw;
    }

    .imageTitre{
        width: 40%;
        height: auto;
        margin-top: 5%;
    }

    h2{
        font-size: 2rem;
    }

    .tableJoueurs{
        margin-left: 19vw;
    }

    table{
        font-size: 1.6rem;
    }

    th, td {
        padding: 0.5rem;
    }

    .joueurInfo > img{
        width: 12rem;
    }

    .joueurInfo > h4{
        margin: 2% 0;
    }

    .joueurInfo > h4:last-of-type{
        color: var(--colorOrange);
    }

    .equipeInfo{
        width: 25%;
    }

    .equipeInfo > img{
        width: 3rem;
        vertical-align: middle;
    }

}