/* font principal du site */
@font-face { font-family: Designer; src: url('../font/DESIGNER.otf'); } 

/* couleurs principaux du site */
:root{
  --colorOrange: #E18517;
  --colorBlanc: #e5e5e7;
  --colorNoir: #090d12;
  --colorGris: #3f4562;
  --colorBleu: #1d2530;
  --colorOrangeFonce: #af5f00
}

/* styles pour le html */
  html{
    overflow-x: hidden;
  }

/* styles pour le header */
  header{
    background-color: var(--colorBleu);
    width: 100vw;
    height: 25%;
    display: flex;
    align-items: center;
    font-family: Designer;
  }
  
  .btn-burguer-nav{
    cursor: pointer;
  }
  
  /* Icones pour le menu de navigation */
  #icone-burguer, #icone-fermer{
    font-size: 48px;
    color: var(--colorBlanc);
    margin-left: 15%;
  }
  
  /* L'icone fermer va etre toujour cache */
  #icone-fermer{
    display: none;  
  }
  
  /* Logo pour le menu de navigation */
  .liquidpedia{
    width: 20%;
    height: auto;
    margin-left: 30%;
  }
  
  /* Menu de navigation */
  .nav-principale{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0rem;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, display 0.5s ease-in-out;
    z-index: -1;
    background-color: var(--colorBleu);
    font-size: 1.3rem;
    text-align: center;
  }
  
  .nav-principale a {
    text-decoration: none;
    color: var(--colorBlanc);
  }
  
  /* On met la barre nav relative pour suivre le header tout le temps, on met le z-index a 1 pour qu'il soit au dessus de la nav principale */
  .barre-nav{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
  }
  
  /* styles pour les listes sur le menu de navigation */
  nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  
  nav li{
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    width: 100vw;
    padding: 1.5rem;
    background-color: var(--colorOrange);
  }
  
  /* Le fleche a cote de notre liste pour montrer qu'il y a une sous liste */
  #fleche{
    font-size: 2rem;
    transform: rotate(90deg);
    transition: transform 0.2s ease-in-out;
  }
  
  /* Styles de les sous listes */
  nav li ul li{
    padding: 1.2rem 0 1.2rem 0;
    border-bottom: 0.2rem solid var(--colorBlanc);
  }
  
  nav ul ul{
    display: flex;
    flex-direction: column;
    opacity: 0;
    position: relative;
    top: 12%;
    height: 0;
    background-color: var(--colorOrangeFonce);
    transition: opacity 0.2s ease-in-out, height 0.2s ease-in-out;
  }
  
  /* Si on hover on change la couleur de la liste et on montre la sous liste */
  nav li:hover{
    background-color: var(--colorOrangeFonce);
  } 
  
  nav li:hover > ul {
    height: auto;
    opacity: 1;
  }
  
  /* Si on hover sur la liste on change la rotation de la fleche */
  nav li:hover > #fleche{
    transform: rotate(0deg);
  }
  
  /* Si on hover sur la sous liste on change la couleur*/
  nav li > ul > li:hover{
    background-color: var(--colorOrange);
  }
  
  #cc-nav{
    display: none;
  }
  
  #cc-nav:checked ~ .barre-nav > .nav-principale {
    opacity: 1;
    transform: translateY(0%);
  }
  
  /*Si on ouvre la nav principale on cache le logo et on montre l'icone fermer */
  #cc-nav:checked ~ .barre-nav > .btn-burguer-nav > #icone-burguer{
    display: none;
  }
  
  #cc-nav:checked ~ .barre-nav > .btn-burguer-nav > #icone-fermer{
    display: block;
  }

/* styles pour le footer */
  .footerPrincipal{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--colorBleu);
    width: 100vw;
    margin-top: 10%;
  } 

  /*Styles pour les icones du footer */
  .iconesFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /*Logo du liquidpedia */
  .liquidpediaFooter{
    width: 25%;
    height: auto;
    padding-left: 35%;
    margin: 1rem;
  }

  /*styles pour le texte dans le footer */
  .footerPrincipal > .texteFooter > h3{
    color: var(--colorOrange);
    margin: 0.25rem;
  }

  .footerPrincipal > .texteFooter > p{
    margin: 0.25rem;
  }

  .texteFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footerPrincipal > .iconesFooter > div > img{
    width: 10vw;
    height: auto;
    margin: 5%;
  }

  #reseauxSociauxHaut, #reseauxSociauxBas{
    display: flex;
    align-items: center;
  }
  
/*STYLES DU NAV SUR PC*/
@media screen and (min-width: 1024px){

  /*Sa me tentait pas de expliquer tout mais, bref, on met le barre nav en fixed pour suivre le scroll et
  on met la barre nav a droite */
  .barre-nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 17vw;
    z-index: 1;
    background-color: var(--colorBleu);
    padding: 1%;
    flex-direction: column;
  }

  .liquidpedia{
    width: 55%;
    height: auto;
    margin-left: 18%;
  }

  /* Comme la barre nav etait cache on enleve tout les transitions et les transform pour regarde le menu de navigation */
  .nav-principale{
    transform: translateY(0%);
    transition: none;
    opacity: 1;
    z-index: 1;
    width: 18vw;
    background-color: transparent;
    font-size: 1.3rem;
  }

 /*APPARTIR D'ICI SON DES CHANGEMENTS DE POSITION ET DE TAILLE DES ELEMENTS DU NAV ET DU FOOTER*/

  nav ul{
    width: 100%;
  }

  nav li:hover > ul {
    display: flex;
  }

  nav ul ul {
    position: absolute;
    top: 0;
    left: 100%;
    display: none;
  }

  nav li{
    background-color: transparent;
    width: 100%;
    padding: 0.5rem;
    flex-wrap: nowrap;
  }

  nav li ul{
    width: 15vw;
  }

  nav li ul li{
    width: 100%;
    height: 100%;
    margin: 0;
  }

  nav li:hover > #fleche{
    transform: rotate(-90deg);
  }

  #icone-burguer, #icone-fermer, #cc-nav{
    display: none;
  }

  .footerPrincipal{
    width: 81.5vw;
    margin-left: 18.8vw;
    flex-direction: row;
  }

  .liquidpediaFooter{
    width: 25%;
    height: auto;
    padding-left: 0%;
    margin: 1rem;
  }

  .footerPrincipal > .iconesFooter > div > img{
    width: 4vw;
    height: auto;
    margin: 5%;
  }

  .iconesFooter{
    align-items: flex-start;
    width: 50%;
    margin: 2%;
  }

  .texteFooter{
    align-items: flex-end;
    margin: 2%;
    width: 50%;
    font-size: 1.3rem;
  }

}