@font-face { font-family: Designer; src: url('../font/DESIGNER.otf'); } 



body{
    background-color: #090d12;
}

h1{
    color: white;
}

.logoTitre{
padding-top:1.5rem;
display: flex;
justify-content: center;
}
section{
    display: flex;
    justify-content: center;
}

div.rectangle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:4rem;
    height:6rem;
    width: 50%;
   background-color: #c57513;
   
}
h2{
    text-align:center;
    font-family:'Designer';
    color:white;
    letter-spacing: 0.1rem;
    font-weight: lighter;
    font-size: 2rem;
}
#esl{  
height: 65%;
}

img#esl {
    margin-left: 2rem;
}

section#rankEquipe{

    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}


@media  screen and (max-width: 600px) {

        
    img#logo{
        margin-top: 5%;
        width: 70%;
        display: flex;
        justify-content: center;
        }

    img#esl {
        width: 22%;
        margin-right: 5px;
    }
    
    div.rectangle {
        display: flex;
        justify-content: center;
        align-items: center;
        height:8rem;
        width: 75%;
       background-color: #c57513;
       
    }

    #rankEquipe{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    h2{
        text-align: center;
        font-family: 'Designer';
        color: white;
        letter-spacing: 0.1rem;
        font-weight: lighter;
        font-size: 1.5rem;
    }
}
