@font-face { font-family: Designer; src: url('../font/DESIGNER.otf'); } 

:root{
  --colorOrange: #E18517;
  --colorBlanc: #e5e5e7;
  --colorNoir: #090d12;
  --colorGris: #3f4562;
  --colorBleu: #1d2530;
  --colorOrangeFonce: #af5f00
}

html{
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  scroll-behavior: smooth;
}

body{
  background-color: var(--colorNoir);
  max-width: 100%;
  min-height: 100%;
  color: var(--colorBlanc);
  font-family: Designer;
}
  
  main{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main > section{
    width: 85vw;
    margin-top: 20%;
  }

  .contentScroll{
    display: flex;
    align-items: center;
    margin-top: 10%;
    width: 100vw;
  }

  #flecheAvant, #flecheFront{
    padding: 1.5%;
    font-size: 2.5rem;
    cursor: pointer;
  }

  .imageTitre{
    width: 75%;
    height: auto;
    margin-top: 15%;
  }

  .conteneurMatchs{
    display: flex;
    overflow-x: scroll;
  }

  .conteneurMatchs::-webkit-scrollbar{
    display: none;
  }

  .matchsFutures{
    background-color: var(--colorBleu);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: var(--colorBlanc) 0.4rem solid;
    flex: none;
    width: 70%;
  }
  
  .matchsFutures > div{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 0.2rem;
  }
  
  .matchsFutures > h4{
    color: var(--colorOrange);
  }

  .matchsFutures > div > img{
    width: 50px;
    height: 50px;
  }

  .matchsFutures > div > p{
    font-size: 1.1rem;
  }

  .matchsFutures > h4{
    font-weight: normal;
    font-size: 1.4rem;
  }

  .tableauTournoi{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .titreTournoi, .boutonsTournoi{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2%;
  }

  .titreTournoi{
    margin-top: 10%;
    background-color: var(--colorOrange);
  }

  .titreTournoi > h3{
    padding: 0.5rem;
  }

  .boutonsTournoi{
    background-color: var(--colorOrangeFonce);
  }

  .boutonsTournoi > button{
    font-family: Designer;
    font-size: 0.8rem;
    color: var(--colorBlanc);
    padding: 0.5rem;
    border: 0.3rem solid var(--colorBlanc);
  }

  .boutonsTournoi > button:first-child{
    background-color: var(--colorOrange);
  }

  .boutonsTournoi > button:last-child{
    flex-grow: 0.25;
    background-color: var(--colorOrangeFonce);
  }

  .equipesTournoi{
    display: flex;
    flex-direction: column;
    padding: 2%;
    background-color: var(--colorBleu);
    width: 100%;
  }

  .phaseGroupes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .round{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
  }

  .match{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
  }

  .matchSuivant{
    margin-bottom: 20px;
  }

  .equipe{
    background-color: var(--colorOrange);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .equipe > p{
    display: none;
  }

  .equipe > img{
    width: 40px;
    height: 40px;
  }

  .divider{
    display: flex;
    align-items: center;
    background-color: var(--colorBlanc);
    width: 0.5rem;
    height: 1.5rem;
  }

  .divider::before{
    position: absolute;
    content: "";
    width: 3.2rem;
    height: 0.5rem;
    background-color: var(--colorBlanc);
  }

  .divMatchsNouvelles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85vw;
    margin-top: 20%;
  }

  .divMatchsNouvelles > section{
    font-size: 1.3rem;
  }

  .titreMatch{
    background-color: var(--colorOrange);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .boutonsMatch{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: var(--colorOrangeFonce);
    width: 96%;
    padding: 2%;
  }

  .boutonsMatch > button{
    font-family: Designer;
    font-size: 0.8rem;
    padding: 1.5%;
    width: 45%;
    flex-grow: 1;
    background-color: var(--colorOrangeFonce);
    border: 0.3rem solid var(--colorBlanc);
    color: var(--colorBlanc);
    
  }

  .boutonsMatch > button:last-of-type{
    background-color: var(--colorOrange);
  }

  .matchsGeneral{
    background-color: var(--colorBleu);
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .titresInterieurs{
    background-color: var(--colorOrange);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0.2rem auto;
    height: 2.5rem;
  }

  .matchBloc{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .matchBloc > p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.9rem;
    width: 40%;
    margin: 0.3rem 0;
  }

  .nouvelles{
    display: flex;
    flex-direction: column;
    margin-top: 15%;
  }

  .titreNouvelles{
    background-color: var(--colorOrange);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .article{
    width: 100%;
    background-color: var(--colorBleu);
    display: flex;
    border-bottom: var(--colorOrange) 0.4rem solid;
  }

  .article > img{
    width: 50%;
    height: auto;
    padding: 1rem;
  }

  .article > .texteArticle > p:last-of-type{
    color: var(--colorOrange);
  }

