@font-face { font-family: Designer; src: url('../font/DESIGNER.otf'); } 

:root{
    --colorOrange: #E18517;
    --colorBlanc: #e5e5e7;
    --colorNoir: #090d12;
    --colorGris: #3f4562;
    --colorBleu: #1d2530;
    --colorOrangeFonce: #af5f00
  }

  html{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    scroll-behavior: smooth;
  }

  body{
    background-color: var(--colorNoir);
    max-width: 100%;
    min-height: 100%;
    color: var(--colorBlanc);
  }

h1{
    color: white;
}


#cs2Logo{
  display: flex;
  justify-content: center;
  align-items: center;
}
img#imageLogo{
  width: 25%;
}

div.rectangle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:4rem;
    height:6rem;
    width: 50%;
   background-color: #c57513;
   
}

section#logoHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -0.8rem;

}
div.rectangleE {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:4rem;
    height:6rem;
    width: 50%;
   background-color: rgb(180, 127, 29);
   
}
.rectangleE h2{
    padding-left: 30px;
}

h2{
    text-align:center;
    font-family:'Designer';
    color:white;
    letter-spacing: 0.1rem;
    font-weight: lighter;
    font-size: 2rem;
}
#esl{  
height: 65%;
}

img#equipe{  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75%;
    }

img#esl {
    margin-left: 2rem;
}

section#rankEquipe{

    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

a{
  text-decoration: none;
  color: var(--colorBlanc);
}
a:hover{
    text-decoration: none;
    color:var(--colorNoir);
}

/* animation */
.hoverNomEquipe {
    display: inline-block;
    position: relative;
  }
  
  .hoverNomEquipe::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 10px;
    background-color: #000000;
    transform-origin: middle ;
    transition: transform 0.25s ease-in;
  }
  
  .hoverNomEquipe:hover::after {
    transform: scaleX(1);
    transform-origin: middle;
  }


@media  screen and (max-width: 600px) {
    
      div.rectangle h2{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
    }
        
    img#logo{
        margin-top: 5%;
        width: 70%;
        display: flex;
        justify-content: center;
        }

    img#esl {
        width: 22%;
        margin-right: 5px;
    }
    
    div.rectangle {
        display: flex;
        justify-content: center;
        align-items: center;
        height:8rem;
        width: 75%;
        background-color: #c57513;
       
    }
    img#equipe{  
      display: flex;
      justify-content: center;
      height: 50%;
      text-align: center;
      margin-left: 1rem;
      }

    div.rectangleE{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height:8rem;
        width: 75%;
       background-color: #c57513be;

    }
    div.carre{
      display: flex;
       height:100%;
       width: 25%;
       justify-content: center;
       align-items: center;
       background-color: var(--colorBleu);

    }
    div.carre h2{
      margin-right:1.5rem;
      font-size:3rem;

    }

 
    #rankEquipe{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    h2{
        text-align: center;
        font-family: 'Designer';
        color: white;
        letter-spacing: 0.1rem;
        font-weight: lighter;
        font-size: 1.5rem;
    }

    img#imageLogo{
        width: 50%;
        display: flex;
        margin-top: 2rem;
    }
}
