@font-face { font-family: Designer; src: url('../font/DESIGNER.otf'); } 

:root{
  --colorOrange: #E18517;
  --colorBlanc: #e5e5e7;
  --colorNoir: #090d12;
  --colorGris: #3f4562;
  --colorBleu: #1d2530;
  --colorOrangeFonce: #af5f00
}

html{
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  scroll-behavior: smooth;
}

body{
  background-color: var(--colorNoir);
  max-width: 100%;
  min-height: 100%;
  color: var(--colorBlanc);
  font-family: Designer;
}

@media screen and (max-width: 600px) {
  
  main{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contentScroll{
    display: flex;
    align-items: center;
    width: 100vw;
  }

  #flecheAvant, #flecheFront{
    padding: 1.5%;
    font-size: 2.5rem;
    cursor: pointer;
  }

  .imageTitre{
    width: 75%;
    height: auto;
    margin-top: 15%;
  }

  .conteneurMatchs{
    display: flex;
    margin-top: 15%;
    overflow-x: scroll;
  }

  .conteneurMatchs::-webkit-scrollbar{
    display: none;
  }

  .matchsFutures{
    background-color: var(--colorBleu);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: var(--colorBlanc) 0.4rem solid;
    flex: none;
    width: 70%;
  }

  .matchsFutures > div{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 0.2rem;
  }

  .matchsFutures > div > img{
    width: 50px;
    height: 50px;
  }

  .matchsFutures > div > p{
    font-size: 1.1rem;
  }

  .matchsFutures > h4{
    font-weight: normal;
    font-size: 1.4rem;
  }
}
