@font-face { font-family: Designer; src: url('../font/DESIGNER.otf'); } 

:root{
  --colorOrange: #E18517;
  --colorBlanc: #e5e5e7;
  --colorNoir: #090d12;
  --colorGris: #3f4562;
  --colorBleu: #1d2530;
  --colorOrangeFonce: #af5f00
}

body{
    background-color: var(--colorNoir);
    color: var(--colorBlanc);
}

h2{
    font-family: 'Designer';
    color: white;
    letter-spacing: 0.2rem;
    font-weight: lighter;
    margin-top: 4rem;
    margin-left: 2rem;

}
.infoMatch{
    display: flex;
    justify-content: center;
}

.tableauMatch{
    background-color: #c57513;
    width: 50%;
    height: 450px;
    margin-top: 1.5rem;
}
 
img#joueurs{
    display: flex;
    justify-content: center;
    margin-left:-6rem ;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}


/* mobile  */

@media  screen and (max-width: 600px) {

    div#joueur{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-left: 10rem;
    }  

    img#joueurs{
        display: flex;
        justify-content: center;
        margin-left:-10rem;
        width: 50%;
    }
    h2{
        font-family: 'Designer';
        color: white;
        letter-spacing: 0.2rem;
        font-size: 1.5rem;
        font-weight: lighter;
        margin-top: 9rem;
        margin-left: 2rem;
    }  

    .conteneurInfo{
        background-color: var(--colorGris);
        width: 50%;
        height: 50%;
    }
}
